#presentes-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  font-size: clamp(0.7rem, 1vw, 4rem);
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.produto-card {
  background-color: rgb(223, 217, 217);
  padding: 20px;
  border-radius: 10px;
  width: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.produto-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.produto-card input {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  border: none;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.produto-card img {
  width: 80%;
  height: 240px;
  border-radius: 10px;
  margin-left: 10%;
}

.produto-card p {
  margin: 10px 0;
}

.produto-card button:disabled {
  background-color: gray;
}

.produto-card.esgotado {
  background-color: #f8d7da;
  filter: grayscale(100%);
}

.produto-card.esgotado img {
  filter: grayscale(100%);
}

.produto-card.esgotado p {
  color: #333;
}

.title {
  margin-bottom: 40px;
  font-size: clamp(1.5rem, 3vw, 4rem);
}

#lista {
  margin-bottom: 100px;
}

.listaPresentes {
  margin-top: 200px;
}

.adicionar-carrinho {
  margin-top: 10%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.presentes-lista {
  height: 850px;
  /* Define um tamanho fixo para a metade */
  overflow: hidden;
  /* Esconde o conteúdo extra */
  margin-bottom: 50px !important;
}

.verMais {
  width: 200px;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: clamp(0.7rem, 0.9vw, 2rem);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.verMais:hover {
  background-color: #0571e4;
  cursor: pointer;
  color: rgb(219, 217, 217);
  transition: all 0.3s;
}

.btn-vM {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JAJAJ {
  margin-top: 200px;
}


.filtro-container {
  display: flex;
  gap: 10px;
  position: absolute;
  margin-top: -5%;
  margin-left: 9%;
}

#filtro-categoria {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  font-size: clamp(0.7rem, 1vw, 4rem);
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btn-filtrar {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

#btn-filtrar:hover {
  background-color: #0056b3;
}


:root {
  /* Preto */
  --preto: #1a1a1a;
  /* Preto intenso */

  /* Cinza Claro */
  --cinza-claro: #d3d3d3;
  /* Cinza suave */

  /* Cinza Escuro */
  --cinza-escuro: #585858;
  /* Cinza profundo */

  /* Branco */
  --branco: #ffffff;
  /* Branco puro */

  /* Prata ou Aço Escovado */
  --prata: #b0b0b0;
  /* Tom metálico suave */

  /* Madeira Clara */
  --madeira-clara: #e0b97e;
  /* Tom claro de madeira */
}

.pai-paleta {
  position: absolute;
  width: 100%;
  margin-top: -200px;
  margin-left: 30%;
}

.paleta-Text {
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(0.7rem, 1.3vw, 4rem);
}

.paleta-c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.preto,
.cinza-claro,
.cinza-escuro,
.branco,
.prata,
.madeira-clara {
  width: 2.5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  height: 50px;
  border-radius: 50%;
}

.preto {
  background-color: var(--preto);
}

.cinza-claro {
  background-color: var(--cinza-claro);
}

.cinza-escuro {
  background-color: var(--cinza-escuro);
}

.branco {
  background-color: var(--branco);
}

.prata {
  background-color: var(--prata);
}

.madeira-clara {
  background-color: var(--madeira-clara);
}